html {
  background-color: #F3F8F2;

}
.dropdown {
    color: gray;
    position: relative;
    display: inline-block;
    margin: 0px 200px 0px 0px;
  }
  #contentFlexHop {
    display: flex;
    justify-content: space-evenly;
    background-color: #F3F8F2;
  }
  #contentFlexHop a{
    text-decoration: none; 
    color:rgba(248,188,60);
    font-size: 50px;
    margin-right: 1200px;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    
    display: none;
    position: absolute;
    border: solidrgba(248,188,60);
    border-width: 1px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: gray;
    text-decoration: none;
    display: block;
    background-color: #F3F8F2;
    border: solid #DEE2D6;
    border-width: 1px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    transition-duration: 0.4s;
    border: solidrgba(248,188,60);
    border-width: 1px;;
    background-color:rgba(248,188,60);
  color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    transition-duration: 0.4s;
    display: block;
    border: solidrgba(248,188,60);
    border-width: 1px;

  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    transition-duration: 0.4s;
    background-color:rgba(248,188,60);
    color: white;
  }
  .logo {
      height: 100px;
      width: 260px;
  }
  .favori {
    border: none;
  color: black;
background-color:rgba(248,188,60);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid black;
  }
  .favori:hover {
    
  color: white;
  }
  #contentFlex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    background-color: #F3F8F2;
  }
  #contentFlexIP {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    background-color: #F3F8F2;
  }
  #contentFlexIPO {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    background-color: #F3F8F2;
  }

  body {
      background-color: #F3F8F2;
      font-family: Verdana,sans-serif;
  }
  
#listeArticle {
  background-color: #F3F8F2;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#groupeArticle {
  display: flex;
  justify-content: center;
}
.articles {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 10px 30px;
      border: black  1px;   
}
.infos {
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: auto;
}
#photo {
  margin-top: 20px;
  width: 150px;
  height: 195px;
}
#prix {
  color:rgba(248,188,60);
}
#favori {
  color:rgba(248,188,60);
}
#couleur {
  color: blueviolet;
}
body {
  margin: 0;
  text-align: center;

}
header {
  width: 1600px;
	color : black;
	background-color: #DEE2D6;
	margin: -150px 0 0 -800px;
	left: 50%;
	position:fixed
}
.desc {
  color: gray;
  margin-top: 150px;
  margin-bottom: -120px;
}
#boutonPage { 
  border: none;
  color: black;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px black;
}
#boutonPage:hover {
  background-color:rgba(248,188,60);
  color: white;
}
#afficheArticle {
  display: flex;
  flex-direction: column;
  background-color: #DEE2D6 ;
}
#englobix {
  color: gray;
}
.recherche
{   
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    padding: 5px;
    margin: 15px 0 0 -1300px;
    border: 0;
    background-color:  rgba(206,211,70);
    border: solid 1px black;
    border-radius: 10px;
}
#chercher {
  border: none;
  color: black;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: solid 1px black;
}
#chercher:hover {
  background-color: rgba(248,188,60);
  color: white;
}

.filtre {
  color: gray;
  display: flex;
  justify-content: space-evenly;
}