
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 200px 0px 0px;
  }
  #contentFlexHop {
    background-color: #F3F8F2;
  }
  #contentFlexHop a{
    text-align: center;
    text-decoration: none; 
    color: #FCB07E;
    font-size: 50px;
}

#contentFlexHop a:active {
  text-align: center;
    text-decoration: none; 
    color: #FCB07E;
    font-size: 50px;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    
    display: none;
    position: absolute;
    border: solid #FCB07E;
    border-width: 1px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: solid #FCB07E;
    border-width: 1px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    transition-duration: 0.4s;
    border: solid #FCB07E;
    border-width: 1px;;
    background-color: #FCB07E;
  color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    transition-duration: 0.4s;
    display: block;
    border: solid #FCB07E;
    border-width: 1px;

  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    transition-duration: 0.4s;
    background-color: #FCB07E;
    color: white;
  }
  .logo {
      height: 100px;
      width: 260px;
  }
  .favori {
    border: none;
  color: black;
background-color: #FCB07E;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid black;
  }
  .favori:hover {
    
  color: white;
  }
  #contentFlex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    background-color: #F3F8F2;
  }
  #contentFlexIP {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    background-color: #F3F8F2;
  }
  #contentFlexIPO {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    background-color: #F3F8F2;
  }

  body {
      background-color: #EBE9E9;
      font-family: Verdana,sans-serif;
  }
  
#listeArticle {
  background-color: #F3F8F2;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#groupeArticle {
  display: flex;
  justify-content: center;
}
.articles {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
      height: 250px;
      width: 250px;
  background-color: #DEE2D6;
      
}
.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: auto;
}
#photo {
  margin-top: 20px;
  width: 150px;
  height: 195px;
}
#prix {
  color: aqua;
}
#couleur {
  color: blueviolet;
}
body {
  margin: 0;
  text-align: center;

}
header {
  width: 1600px;
	color : black;
	background-color: #DEE2D6;
	margin: -150px 0 0 -800px;
	left: 50%;
	position:fixed
}
.desc {
  margin-top: 150px;
  margin-bottom: -180px;
}
button { 
  border: none;
  color: black;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px black;
}
button:hover {
  background-color: #FCB07E;
  color: white;
}
#afficheArticle {
  display: flex;
  flex-direction: column;
  background-color: #DEE2D6 ;
}